.ram {
      border: 1px solid black;
	  width: 80px;
	  height: 15px;
	  table-layout:fixed;
	  background-color: hsl(120,75%,85%);
	  border-radius: 5px;
	  text-align:center;
    } 
	
.ramheading {
	  width: 80px;
	  height: 15px;
	  table-layout:fixed;
	  border-color: transparent;
      background-color: hsl(120,65%,75%);
      border-radius: 5px;
	  text-align:center;
	  }
	  
.matcher {
	  width: 200px;
	  height: 15px;
	  table-layout:fixed;
      background-color:hsl(120,65%,75%);
      border-color:hsl(120,65%,75%);
      border-color:transparent;
      border-radius:5px;
	  text-align:left;
	  }

.tecken {
	  background-color: white;
}

.button {
	background-color: hsl(120,65%,75%);
}

#header {
   background-color: hsl(120,65%,75%);
   height: 80px;
}

#menu {
   background-color: hsl(120,65%,55%);
   float:left;
   height: 500px;
   width: 100px;
}

#matcher {
  margin-top: 10px;
  margin-left:10px;
  float:left;
  width: 200px;
}

#ram {
  float:left;
  margin-top: 10px;
  margin-left: 10px;
}

body {
  background-color: hsl(120,95%,95%);
}