.ram {
      border: 1px solid black;
	  width: 80px;
	  height: 15px;
	  table-layout:fixed;
	  background-color: hsl(120,75%,85%);
	  border-radius: 5px;
	  text-align:center;
    } 
	

.ramheading {
	  width: 80px;
	  height: 15px;
	  table-layout:fixed;
	  border-color: transparent;
      background-color: hsl(120,65%,75%);
      border-radius: 5px;
	  text-align:center;
	  }
	  
.ramheading2 {
	  width: 400px;
	  height: 15px;
	  table-layout:fixed;
	  border-color: transparent;
      background-color: hsl(120,65%,75%);
      border-radius: 5px;
	  text-align:center;
	  }	 
	  
#mainframe {
  margin-top: 10px;
  margin-left:10px;
  float: left;
}

.matchno {
	text-align:left;
	margin-right:5px;
} 
	  
.matcher {
	  width: 200px;
	  height: 15px;
	  table-layout:fixed;
      background-color:hsl(120,65%,75%);
      border-color:hsl(120,65%,75%);
      border-color:transparent;
      border-radius:5px;
	  text-align:left;
	  }

.tecken {
	  background-color: white;
}

.button {
	background-color: hsl(120,65%,75%);
}

#header {
   background-color: hsl(120,65%,75%);
   height: 80px;
}

#menu {
   background-color: hsl(120,65%,55%);
   float:left;
   height: 700px;
   width: 100px;
}


#matcher {
  float:left;
  width: 200px;
}

#inmatning {
	width: 100%;
}

#fileuploadwindow {
  margin-top: 10px;
  margin-left:10px;
  float:left;
  width: 200px;
}

#ram {
  float:left;
  margin-left: 10px;
  height: 400px;
  width: 700px;
}

#results {
  float:left;
}

body {
  background-color: hsl(120,95%,95%);
}