@(correctTipsRow: String, matchResults: Array[models.results.MatchResult], correctRows: Array[Int])

@main("Tipshjälpen"){    
	      <div id="properties">
		   <!--   <form>
				<input type="radio" name="Tipsval" value="Stryktipset">Stryktipset<br>
				<input type="radio" name="Tipsval" value="Europatipset">Europatipset
			</form>   -->    
	      	<form>
				<input type="checkbox" name="Automatic" value="Yes">Automatisk rättning<br>
			</form> 
	      </div>
      
   @matches(matchResults)
		   
		   <div id="Summary">
		   	    <h3>Summering<h3>
			   @summary(correctRows)
		   
		   </div>
}